<!-- begin app-main -->
<div class="app-main" id="main">
    <!-- begin container-fluid -->
    <div class="container-fluid">
        <!-- begin row -->
        <div class="row">
            <div class="col-md-12 m-b-30">
                <!-- begin page title -->
                <div class="d-block d-lg-flex flex-nowrap align-items-center">
                    <div class="page-title mr-4 pr-4 border-right">
                        <h1>Executive Dashboard</h1>
                    </div>

                </div>
                <!-- end page title -->
            </div>
        </div>

        <!-- begin row -->
        <div class="row mb-3">
            <div class="mb-4 col-sm-6 col-lg-3 mb-4">
                <div class="card h-100 theme-color">

                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <h4 class="fw-normal text-red"><span style="font-size: xx-large;">45 </span>
                                    <span style="font-size: 16px;">Total pending tasks</span>
                                </h4>
                            </div>
                            <div class="flex-shrink-0 ms-3">
                                <div class="d-flex m-b-10">
                                    <a class="mb-0 ml-auto font-weight-bold" href="#" style="margin-top: -34px;"><i
                                            class="ti ti-more-alt"></i> </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-4 col-sm-6 col-lg-3 mb-4">
                <div class="card h-100 theme-color">

                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <div class="progress-circle over50 p83">
                                    <span>14</span>
                                    <div class="left-half-clipper">
                                        <div class="first50-bar"></div>
                                        <div class="value-bar"></div>
                                    </div>
                                </div>
                                <div class="text" style="margin-left: 13px;">54%</div>
                            </div>
                            <h5>Number of Tasks on Track</h5>
                            <div class="flex-shrink-0 ms-3">
                                <div class="d-flex m-b-10">
                                    <a class="mb-0 ml-auto font-weight-bold" href="#" style="margin-top: -59px;"><i
                                            class="ti ti-more-alt"></i> </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-4 col-sm-6 col-lg-3 mb-4">
                <div class="card h-100 theme-color">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <div class="progress-circle over50 p83">
                                    <span>8</span>
                                    <div class="left-half-clipper">
                                        <div class="first50-bar"></div>
                                        <div class="value-bar"></div>
                                    </div>
                                </div>
                                <div class="text" style="margin-left: 13px;">30%</div>
                            </div>
                            <h5>Number of Tasks on Delayed</h5>
                            <div class="flex-shrink-0 ms-3">
                                <div class="d-flex m-b-10">
                                    <a class="mb-0 ml-auto font-weight-bold" href="#" style="margin-top: -59px;"><i
                                            class="ti ti-more-alt"></i> </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-4 col-sm-6 col-lg-3 mb-4">
                <div class="card h-100 theme-color">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <div class="progress-circle over50 p83">
                                    <span>45</span>
                                    <div class="left-half-clipper">
                                        <div class="first50-bar"></div>
                                        <div class="value-bar"></div>
                                    </div>
                                </div>
                                <div class="text" style="margin-left: 13px;">45%</div>
                            </div>
                            <h5>Number of Tasks on Track</h5>
                            <div class="flex-shrink-0 ms-3">
                                <div class="d-flex m-b-10">
                                    <a class="mb-0 ml-auto font-weight-bold" href="#" style="margin-top: -59px;"><i
                                            class="ti ti-more-alt"></i> </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-4 col-sm-6 col-lg-3 mb-4">
                <div class="card h-100 theme-color">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <div class="progress-circle over50 p83">
                                    <span>45</span>
                                    <div class="left-half-clipper">
                                        <div class="first50-bar"></div>
                                        <div class="value-bar"></div>
                                    </div>
                                </div>
                                <div class="text" style="margin-left: 13px;">45%</div>
                            </div>
                            <h5>Number of Tasks on Track</h5>
                            <div class="flex-shrink-0 ms-3">
                                <div class="d-flex m-b-10">
                                    <a class="mb-0 ml-auto font-weight-bold" href="#" style="margin-top: -59px;"><i
                                            class="ti ti-more-alt"></i> </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-6 col-xxl-4 m-b-30">
                <div class="card card-statistics h-100 mb-0">
                    <div class="card-header d-flex justify-content-between">
                        <div class="card-heading">
                            <h4 class="card-title">Task Distribution</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <app-donut></app-donut>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 m-b-30">
                <div class="card card-statistics h-100 mb-0">
                    <div class="card-header d-flex justify-content-between">
                        <div class="card-heading">
                            <h4 class="card-title">Task By Beinex Sectors</h4>
                        </div>
                       
                    </div>
                    <div class="card-body">
                    <app-bar></app-bar>  
                    </div> 
                </div>
            </div>
            <div class="col-xxl-4 m-b-30">
                <div class="card card-statistics h-100 mb-0">
                    <div class="card-header d-flex justify-content-between">
                        <div class="card-heading">
                            <h4 class="card-title">Task by Auraa</h4>
                        </div>
                       
                    </div>
                    <div class="card-body">
                       <app-barchart></app-barchart>
                    </div>
                </div>
            </div>

        </div>


        <!-- end row -->
        <!-- event Modal -->

    </div>
    <!-- end container-fluid -->
</div>
<!-- end app-main -->